defaults/flow.json
[{"type":"tab","id":"69676285.96989c","label":"Flow 1"},{"id":"aaa46c.ff555b9","type":"particle-cloud","z":"","host":"https://api.particle.io","port":"443","accesstoken":"2410c1950fa49462f52d5a4d0e3831ec632dd91a","name":"Particle Cloud"},{"id":"4d27a17f.b2d86","type":"mongodb","z":"","hostname":"$(MONGODB_URL)","port":"$(MONGODB_PORT)","db":"$(MONGODB_DATABASE)","name":"Events Database"},{"id":"f53de282.0ac22","type":"postgresdb","z":"","hostname":"$(POSTGRESDB_URL)","port":"5432","db":"$(POSTGRESDB_DATABASE)"},{"id":"5211a0f7.adee6","type":"mongodb out","z":"69676285.96989c","mongodb":"4d27a17f.b2d86","name":"save to events database","collection":"iot","payonly":true,"upsert":false,"multi":false,"operation":"store","x":726,"y":91,"wires":[]},{"id":"a53f069c.5ac0f8","type":"ParticleSSE in","z":"69676285.96989c","baseurl":"aaa46c.ff555b9","evtname":"as2016_iotbutton_fell","devid":"$(PARTICLE_DEVICE_ID)","x":238,"y":65,"wires":[["5d7b8066.a2848"]]},{"id":"7c6c70b2.83939","type":"debug","z":"69676285.96989c","name":"device event message","active":true,"console":"false","complete":"payload","x":704,"y":178,"wires":[]},{"id":"2479b18a.db864e","type":"comment","z":"69676285.96989c","name":"Receives, Parses and Saves Incoming Events","info":"","x":180,"y":20,"wires":[]},{"id":"559e06b8.aa61f8","type":"comment","z":"69676285.96989c","name":"Triggers a Case Record Creation","info":"","x":143,"y":224,"wires":[]},{"id":"bc09769f.43f688","type":"inject","z":"69676285.96989c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116.5,"y":496,"wires":[["4321017c.bcdf"]]},{"id":"c423d2a7.3bdc3","type":"comment","z":"69676285.96989c","name":"Read latest 5 events from the database","info":"","x":173.5,"y":444,"wires":[]},{"id":"a11b57f8.5ee4a8","type":"mongodb in","z":"69676285.96989c","mongodb":"4d27a17f.b2d86","name":"","collection":"iot","operation":"find","x":448.5,"y":602,"wires":[["f3250238.0cdb"]]},{"id":"f3250238.0cdb","type":"debug","z":"69676285.96989c","name":"events database query result","active":true,"console":"false","complete":"payload","x":721.5,"y":558,"wires":[]},{"id":"4321017c.bcdf","type":"change","z":"69676285.96989c","name":"","rules":[{"t":"set","p":"sort","pt":"msg","to":"{\"publishedDate\":-1}","tot":"json"},{"t":"set","p":"limit","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":279.5,"y":525,"wires":[["a11b57f8.5ee4a8"]]},{"id":"77f910f.f8806f","type":"switch","z":"69676285.96989c","name":"free fall count > 3","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"}],"checkall":"true","outputs":1,"x":512,"y":390,"wires":[["333b1014.e187a"]]},{"id":"d906256.f26f9d8","type":"mongodb in","z":"69676285.96989c","mongodb":"4d27a17f.b2d86","name":"","collection":"iot","operation":"count","x":285,"y":374,"wires":[["77f910f.f8806f","43c0e1af.bc3f2"]]},{"id":"891f23da.76e0e","type":"function","z":"69676285.96989c","name":"get freefall count since last time","func":"var time = new Date() - 5*60*1000;\nflow.deviceType = \"photon2000\";\nmsg.payload = {\n    deviceType: flow.deviceType,\n    publishedDate: { $gt: new Date(time) }\n}\nreturn msg;","outputs":1,"noerr":0,"x":212.5,"y":320,"wires":[["d906256.f26f9d8"]]},{"id":"6c334132.93ccc","type":"inject","z":"69676285.96989c","name":"run every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":150.5,"y":272,"wires":[["891f23da.76e0e"]]},{"id":"43c0e1af.bc3f2","type":"debug","z":"69676285.96989c","name":"query result","active":true,"console":"false","complete":"payload","x":507.5,"y":286,"wires":[]},{"id":"5d7b8066.a2848","type":"function","z":"69676285.96989c","name":"re-format message","func":"var dataArr = msg.raw.data.split(\",\");\nvar dataJson = {\n    \"xValue\": parseInt(dataArr[0]),\n    \"yValue\": parseInt(dataArr[1]),\n    \"zValue\": parseInt(dataArr[2]),\n    \"tempC\": parseFloat(dataArr[3])\n}\nmsg.payload = {\n\"deviceType\": \"photon2000\", \n\"data\": msg.raw.data,\n\"data_json\": dataJson,\n\"deviceId\": msg.raw.coreid,\n\"event\": msg.evtname,\n\"publishedDate\": new Date(msg.raw.published_at)\n};\nreturn msg;","outputs":1,"noerr":0,"x":466.5,"y":125,"wires":[["7c6c70b2.83939","5211a0f7.adee6"]]},{"id":"94ee30ba.6b11d","type":"postgres","z":"69676285.96989c","postgresdb":"f53de282.0ac22","name":"heroku postgres","output":false,"outputs":0,"x":806.5,"y":280,"wires":[]},{"id":"40e1386a.bf1ec8","type":"function","z":"69676285.96989c","name":"case prep","func":"var deviceType = flow.deviceType;\nvar deviceId = msg.deviceId;\nvar count = msg.payload;\nvar subj = \"Too Many Free Fall Events for \" + deviceType;\n//put in device ID\nvar desc = { count: count, deviceId: deviceId };\nmsg.payload = \"insert into salesforce.case (status, subject, description) values($status, $subject, $description)\";\nmsg.queryParameters = \n{\n    'status': 'New',\n    'subject': subj,\n    'description': desc\n}\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":331,"wires":[["94ee30ba.6b11d"]]},{"id":"333b1014.e187a","type":"change","z":"69676285.96989c","name":"","rules":[{"t":"set","p":"deviceId","pt":"msg","to":"$(PARTICLE_DEVICE_ID)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":729,"y":401,"wires":[["40e1386a.bf1ec8"]]}]