defaults/flow.json
[{"type":"tab","id":"69676285.96989c","label":"Flow 1"},{"id":"540160a6.abfea","type":"mqtt-broker","z":"","broker":"$(MQTT_URL)","port":"16458","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"aaa46c.ff555b9","type":"particle-cloud","z":"","host":"https://api.particle.io","port":"443","accesstoken":"2410c1950fa49462f52d5a4d0e3831ec632dd91a","name":""},{"id":"4d27a17f.b2d86","type":"mongodb","z":"","hostname":"$(MONGODB_URL)","port":"$(MONGODB_PORT)","db":"$(MONGODB_DATABASE)","name":"Events Database"},{"id":"5729b6c3.a8d648","type":"connection-config","z":"","name":"My Dev Org","consumerKey":"$(SALESFORCE_CONSUMER_KEY)","consumerSecret":"6363091217998197517","callbackUrl":"http://localhost:3000/oauth/_callback","environment":"production","username":"$(SALESFORCE_USERNAME)","password":"^amAsWONip6Hvlkug8dl5k9RCR3JtiwuTh2X"},{"id":"5211a0f7.adee6","type":"mongodb out","z":"69676285.96989c","mongodb":"4d27a17f.b2d86","name":"save to events database","collection":"iot","payonly":true,"upsert":false,"multi":false,"operation":"store","x":612,"y":317,"wires":[]},{"id":"a53f069c.5ac0f8","type":"ParticleSSE in","z":"69676285.96989c","baseurl":"aaa46c.ff555b9","evtname":"as2016_iotbutton_fell","devid":"$(PARTICLE_DEVICE_ID)","x":238,"y":65,"wires":[["5d7b8066.a2848"]]},{"id":"c3da3757.3c25c8","type":"mqtt out","z":"69676285.96989c","name":"","topic":"","qos":"0","retain":"false","broker":"540160a6.abfea","x":762,"y":118,"wires":[]},{"id":"7c6c70b2.83939","type":"debug","z":"69676285.96989c","name":"device event message","active":true,"console":"false","complete":"payload","x":712,"y":210,"wires":[]},{"id":"f69f9895.096068","type":"change","z":"69676285.96989c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"iot/type/photon2000/event","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":653,"y":65,"wires":[["c3da3757.3c25c8"]]},{"id":"7c3ed626.83c128","type":"mqtt in","z":"69676285.96989c","name":"","topic":"iot/type/photon2000/event","broker":"540160a6.abfea","x":150,"y":302,"wires":[["cfc9d7c3.303628"]]},{"id":"cfc9d7c3.303628","type":"json","z":"69676285.96989c","name":"string to json","x":383,"y":316,"wires":[["5211a0f7.adee6"]]},{"id":"f80e2637.07f1d8","type":"dml","z":"69676285.96989c","name":"Create Case","object":"Case","action":"insert","connection":"5729b6c3.a8d648","x":783,"y":508,"wires":[["7c40f831.83bf08"]]},{"id":"7c40f831.83bf08","type":"debug","z":"69676285.96989c","name":"case result","active":true,"console":"false","complete":"payload","x":793,"y":568,"wires":[]},{"id":"2479b18a.db864e","type":"comment","z":"69676285.96989c","name":"Receives, Parses and Queues up Incoming Events","info":"","x":200,"y":20,"wires":[]},{"id":"3342c60d.ccbd3a","type":"comment","z":"69676285.96989c","name":"Saves to Database","info":"","x":101,"y":254,"wires":[]},{"id":"559e06b8.aa61f8","type":"comment","z":"69676285.96989c","name":"Triggers a Case Creation","info":"","x":122,"y":376,"wires":[]},{"id":"bc09769f.43f688","type":"inject","z":"69676285.96989c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113.5,"y":647,"wires":[["4321017c.bcdf"]]},{"id":"c423d2a7.3bdc3","type":"comment","z":"69676285.96989c","name":"Read latest 5 events from the database","info":"","x":170.5,"y":595,"wires":[]},{"id":"a11b57f8.5ee4a8","type":"mongodb in","z":"69676285.96989c","mongodb":"4d27a17f.b2d86","name":"","collection":"iot","operation":"find","x":445.5,"y":753,"wires":[["f3250238.0cdb"]]},{"id":"f3250238.0cdb","type":"debug","z":"69676285.96989c","name":"events database query result","active":true,"console":"false","complete":"payload","x":718.5,"y":709,"wires":[]},{"id":"4321017c.bcdf","type":"change","z":"69676285.96989c","name":"","rules":[{"t":"set","p":"sort","pt":"msg","to":"{\"publishedDate\":-1}","tot":"json"},{"t":"set","p":"limit","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":276.5,"y":676,"wires":[["a11b57f8.5ee4a8"]]},{"id":"77f910f.f8806f","type":"switch","z":"69676285.96989c","name":"free fall count > 3","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"}],"checkall":"true","outputs":1,"x":511,"y":542,"wires":[["23f0803a.dc0f8"]]},{"id":"d906256.f26f9d8","type":"mongodb in","z":"69676285.96989c","mongodb":"4d27a17f.b2d86","name":"","collection":"iot","operation":"count","x":284,"y":526,"wires":[["77f910f.f8806f","43c0e1af.bc3f2"]]},{"id":"891f23da.76e0e","type":"function","z":"69676285.96989c","name":"get freefall count 5 minutes ago","func":"var time = new Date() - 5*60*1000;\nmsg.payload = {\n    deviceType: \"photon2000\",\n    publishedDate: { $gt: new Date(time).toISOString() }\n}\nreturn msg;","outputs":1,"noerr":0,"x":211.5,"y":472,"wires":[["d906256.f26f9d8"]]},{"id":"6c334132.93ccc","type":"inject","z":"69676285.96989c","name":"run every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":149.5,"y":424,"wires":[["891f23da.76e0e"]]},{"id":"43c0e1af.bc3f2","type":"debug","z":"69676285.96989c","name":"query result","active":true,"console":"false","complete":"payload","x":506.5,"y":438,"wires":[]},{"id":"5d7b8066.a2848","type":"function","z":"69676285.96989c","name":"re-format message","func":"msg.payload = {\n\"deviceType\": \"photon2000\", \n\"data\": msg.raw.data,\n\"deviceId\": msg.raw.coreid,\n\"event\": msg.evtname,\n\"publishedDate\": new Date(msg.raw.published_at).toISOString()\n};\nreturn msg;","outputs":1,"noerr":0,"x":466.5,"y":125,"wires":[["7c6c70b2.83939