defaults/flow.json
[{"type":"tab","id":"69676285.96989c","label":"Flow 1"},{"id":"540160a6.abfea","type":"mqtt-broker","z":"","broker":"$(MQTT_URL)","port":"16458","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"aaa46c.ff555b9","type":"particle-cloud","z":"","host":"https://api.particle.io","port":"443","accesstoken":"2410c1950fa49462f52d5a4d0e3831ec632dd91a","name":""},{"id":"4d27a17f.b2d86","type":"mongodb","z":"","hostname":"$(MONGODB_URL)","port":"$(MONGODB_PORT)","db":"$(MONGODB_DATABASE)","name":"Events Database"},{"id":"5729b6c3.a8d648","type":"connection-config","z":"","name":"My Dev Org","consumerKey":"$(SALESFORCE_CONSUMER_KEY)","consumerSecret":"6363091217998197517","callbackUrl":"http://localhost:3000/oauth/_callback","environment":"production","username":"$(SALESFORCE_USERNAME)","password":"^amAsWONip6H"},{"id":"5211a0f7.adee6","type":"mongodb out","z":"69676285.96989c","mongodb":"4d27a17f.b2d86","name":"save to events database","collection":"iot","payonly":true,"upsert":false,"multi":false,"operation":"store","x":651,"y":312,"wires":[]},{"id":"a53f069c.5ac0f8","type":"ParticleSSE in","z":"69676285.96989c","baseurl":"aaa46c.ff555b9","evtname":"as2016_iotbutton_fell","devid":"$(PARTICLE_DEVICE_ID)","x":238,"y":65,"wires":[["71afd3fd.8e502c"]]},{"id":"c3da3757.3c25c8","type":"mqtt out","z":"69676285.96989c","name":"","topic":"iot/type/{{deviceType}}/event","qos":"0","retain":"false","broker":"540160a6.abfea","x":785,"y":118,"wires":[]},{"id":"7c6c70b2.83939","type":"debug","z":"69676285.96989c","name":"","active":true,"console":"false","complete":"false","x":682,"y":210,"wires":[]},{"id":"f69f9895.096068","type":"change","z":"69676285.96989c","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"photon2000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":617,"y":61,"wires":[["c3da3757.3c25c8"]]},{"id":"7c3ed626.83c128","type":"mqtt in","z":"69676285.96989c","name":"","topic":"iot/type/photon2000/event","broker":"540160a6.abfea","x":150,"y":302,"wires":[["cfc9d7c3.303628"]]},{"id":"71afd3fd.8e502c","type":"template","z":"69676285.96989c","name":"re-format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \n\"deviceType\": \"photon2000\", \n\"data\": {{raw.data}},\n\"deviceId\": \"{{raw.coreid}}\",\n\"event\": \"{{evtname}}\",\n\"publishedDate\": \"{{raw.published_at}}\"\n}","x":473,"y":158,"wires":[["f69f9895.096068","7c6c70b2.83939"]]},{"id":"cfc9d7c3.303628","type":"json","z":"69676285.96989c","name":"string to json","x":383,"y":316,"wires":[["5211a0f7.adee6"]]},{"id":"f80e2637.07f1d8","type":"dml","z":"69676285.96989c","name":"Create Case","object":"Case","action":"insert","connection":"5729b6c3.a8d648","x":657,"y":531,"wires":[["7c40f831.83bf08"]]},{"id":"7c40f831.83bf08","type":"debug","z":"69676285.96989c","name":"","active":true,"console":"false","complete":"false","x":703,"y":589,"wires":[]},{"id":"77f910f.f8806f","type":"switch","z":"69676285.96989c","name":"free fall count > 3","property":"payload.data","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"}],"checkall":"true","outputs":1,"x":522,"y":413,"wires":[["1d8ee5fb.e2711a"]]},{"id":"1d8ee5fb.e2711a","type":"delay","z":"69676285.96989c","name":"limit case creation to 1 max per minute","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":644,"y":472,"wires":[["f80e2637.07f1d8"]]},{"id":"2479b18a.db864e","type":"comment","z":"69676285.96989c","name":"Receives, Parses and Queues up Incoming Events","info":"","x":200,"y":20,"wires":[]},{"id":"3342c60d.ccbd3a","type":"comment","z":"69676285.96989c","name":"Saves to Database","info":"","x":101,"y":254,"wires":[]},{"id":"a869b5ce.579648","type":"mqtt in","z":"69676285.96989c","name":"","topic":"iot/type/photon2000/event","broker":"540160a6.abfea","x":123,"y":427,"wires":[["846f40f3.7b90c"]]},{"id":"846f40f3.7b90c","type":"json","z":"69676285.96989c","name":"string to json","x":335,"y":435,"wires":[["77f910f.f8806f"]]},{"id":"559e06b8.aa61f8","type":"comment","z":"69676285.96989c","name":"Triggers a Case Creation","info":"","x":122,"y":376,"wires":[]}]
